html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.page{
    display: inline;
}
h1 {
    margin: 30px;
    text-align: left;
}

.text {
    margin: 30px;
    border: 1px solid gray;
    width: 49%;
    height: auto;
    padding: 10px;
}

div.menu {
    margin: 30px;
    border: 1px solid red;
    text-align: left;
    width: 50%;
    height: 200px;
    overflow: hidden;
}

.menu img {
    width: 200px;
    height: 200px;
    overflow: hidden;
}



.map {
    float: right;
    width: 40%;
    height: 100%;
    margin-right: 10p;
}

.review{
    border: 1px solid blue;    
    width: 49%;
    height: auto;
    margin: 30px;
    padding: 10px;
}